SECRET_KEY=change-me-to-a-random-string
DATABASE_URL=mysql+pymysql://{{ cookiecutter.db_name }}:{{ cookiecutter.db_name }}@db:3306/{{ cookiecutter.db_name }}
UPLOAD_FOLDER=/app/uploads
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE={{ cookiecutter.db_name }}
MYSQL_USER={{ cookiecutter.db_name }}
MYSQL_PASSWORD={{ cookiecutter.db_name }}
INIT_ADMIN_EMAIL={{ cookiecutter.initial_admin_email }}
INIT_ADMIN_PASSWORD=change-me
